Decison for indicator

Secondary: NV.IND.TOTL.ZS https://data.worldbank.org/indicator/NV.IND.TOTL.ZS?view=chart
Primary: ER.H2O.FWIN.ZS https://data.worldbank.org/indicator/ER.H2O.FWIN.ZS

The basic assumption is that a similar content of % GDP of industry lead to a similar & of total water withdrawl of industry

Here we load the data

In [48]:
import wbgapi as wb


data = wb.data.DataFrame(['ER.H2O.FWIN.ZS','NV.IND.TOTL.ZS'], time=[2020] )

In [92]:
import pandas as pd

import numpy as np
# Get information about all economies (countries and regions)
#all_economies = wb.economy.Series(id='all')
def region_cleaner(data):
    economies = wb.economy.DataFrame()
    aggregates_id = economies[economies['aggregate'] == True]
    data_clean = data.loc[data.index.difference(aggregates_id.index)]
    data_clean_name = data_clean.join(economies['name'], on = data_clean.index, how = 'inner')

    data_clean_name.set_index('name', append=True, inplace =True)


    return data_clean_name

def nan_checker(data):
    return data.isna().sum()


print(region_cleaner(data))

                 key_0  ER.H2O.FWIN.ZS  NV.IND.TOTL.ZS
    name
ABW Aruba          ABW             NaN             NaN
AFG Afghanistan    AFG        0.831988       14.031699
AGO Angola         AGO       33.947294       45.678242
ALB Albania        ALB        2.035623       20.114530
AND Andorra        AND             NaN       12.660158
...                ...             ...             ...
XKX Kosovo         XKX             NaN       27.558457
YEM Yemen, Rep.    YEM        1.823282             NaN
ZAF South Africa   ZAF       21.313440       23.272787
ZMB Zambia         ZMB        8.269720       40.257899
ZWE Zimbabwe       ZWE        2.157087       32.767517

[217 rows x 3 columns]

In [93]:
def proxy_countries(data):
    return data[~data['NV.IND.TOTL.ZS'].isna() & data['ER.H2O.FWIN.ZS'].isna()]

print(proxy_countries(region_cleaner(data)))

                             key_0  ER.H2O.FWIN.ZS  NV.IND.TOTL.ZS
    name
AND Andorra                    AND             NaN       12.660158
BHS Bahamas, The               BHS             NaN       11.962561
BIH Bosnia and Herzegovina     BIH             NaN       23.777561
BMU Bermuda                    BMU             NaN        5.634176
BRN Brunei Darussalam          BRN             NaN       59.133630
CHI Channel Islands            CHI             NaN        7.670195
CUW Curacao                    CUW             NaN       15.031198
CYM Cayman Islands             CYM             NaN        8.148046
FRO Faroe Islands              FRO             NaN       20.640089
FSM Micronesia, Fed. Sts.      FSM             NaN        4.885343
GRL Greenland                  GRL             NaN       18.346249
HKG Hong Kong SAR, China       HKG             NaN        6.170582
IMN Isle of Man                IMN             NaN        8.884446
KIR Kiribati                   KIR             NaN        9.974729
LIE Liechtenstein              LIE             NaN       40.305953
MAC Macao SAR, China           MAC             NaN        8.444978
MHL Marshall Islands           MHL             NaN       13.403392
PLW Palau                      PLW             NaN       12.862247
SLB Solomon Islands            SLB             NaN       17.244987
SMR San Marino                 SMR             NaN       35.614922
TCA Turks and Caicos Islands   TCA             NaN       15.652894
TON Tonga                      TON             NaN       14.775901
WSM Samoa                      WSM             NaN       11.122376
XKX Kosovo                     XKX             NaN       27.558457

In [85]:
print(region_cleaner(data))

     ER.H2O.FWIN.ZS  NV.IND.TOTL.ZS
ABW             NaN             NaN
AFG        0.831988       14.031699
AGO       33.947294       45.678242
ALB        2.035623       20.114530
AND             NaN       12.660158
..              ...             ...
XKX             NaN       27.558457
YEM        1.823282             NaN
ZAF       21.313440       23.272787
ZMB        8.269720       40.257899
ZWE        2.157087       32.767517

[217 rows x 2 columns]